@font-face {
    font-family: 'Gotham-Black';
   src: url('../fonts/Gotham-Black.otf') format('opentype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
    font-family: 'Gotham-Bold';
   src: url('../fonts/Gotham-Bold.otf') format('opentype');
   font-weight: bold;
   font-style: normal;
}
@font-face {
    font-family: 'Gotham-Book';
   src: url('../fonts/Gotham-Book.otf') format('opentype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
    font-family: 'Gotham-BookItalic';
   src: url('../fonts/Gotham-BookItalic.otf') format('opentype');
   font-weight: normal;
   font-style: italic;
}
@font-face {
    font-family: 'Gotham-Medium';
    src: url('../fonts/Gotham-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Didot-Bold';
    src: url('../fonts/Didot Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Didot-Italic';
    src: url('../fonts/Didot Italic.otf') format('opentype');
   font-weight: normal;
   font-style: italic;
}
@font-face {
    font-family: 'Didot-Title';
    src: url('../fonts/Didot Title.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Didot';
    src: url('../fonts/Didot.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Update body tag to use Gotham fonts */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Gotham-Book', Arial, sans-serif;
}

header {
    background-color: #002842;
    color: white !important; /* Ensure header text is white */
    text-align: center;
    padding: 10px 0; /* Reduce padding to half */
    text-transform: uppercase;
    letter-spacing: 2px; /* Increase letter spacing */
}

nav a {
    color: white !important; /* Ensure nav links are white */
    text-decoration: none;
    font-weight: bold;
    margin: 0 25px; /* Increase spacing between links */
    font-size: 0.8em; /* Make font size 15% smaller */
}

.hero {
    position: relative;
    background: url('../images/hero.jpg') no-repeat center center;
    background-size: cover;
    height: 500px;
}

.hero::before,
.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1;
}

 .hero-text h1 {
    font-size: 4em;
    margin: 0;
 }

 .hero-text p {
    font-size: 2em;
    margin: 10px 0 0 0;
 }

 .overlap-box {
    position: absolute;
    top: 60px; /* Adjust as needed to overlap both header and hero */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    border-radius: 5px; /* Rounded corners */
    z-index: 1000; /* Ensures the box is above other elements */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* Horizontal center alignment */
}
.overlap-box img {
    max-width: 100%;
    max-width: 150px;
    max-height: 100%;
    border-radius: 5px; /* Ensures the image also has rounded corners */
}

.full-width-section {
    width: 100%;
    background-color: #f0f0f0;
    padding: 20px;
    padding-top: 40px;
    text-align: center;
}
  
.full-width-section > div {
    width: 60%;
    margin: 0 auto;
}

.full-width-section p {
    font-size: 1.5em;
}

.peace-text {
    font-family: 'Didot-Italic', serif;
    font-style: italic;
    font-size: 1.5em;
}

.gotham-bold {
    font-family: 'Gotham-Bold', sans-serif;
}

div.full-width-section div h2 {
    font-family: 'Didot-Italic', serif;
    font-style: italic;
    font-size: 2em;
}

.recent-projects-section h2 {
    font-family: 'Didot-Italic', serif;
    font-style: italic;
    font-size: 2.2em;
}

.recent-projects-section .text-center strong {
    color: #002842; 
    font-family: 'Gotham-Bold', serif;
}

.recent-projects-section .text-center em {
    font-family: 'Didot-Italic', serif; 
    font-style: italic;
}

.recent-projects-section img {
    width: 300px;
    height: 300px;
    object-fit: cover; /* Ensure appropriate aspect ratio handling */
}

.recent-projects-section .btn-primary {
    border-radius: 5px; /* Add a slight border-radius */
    text-transform: uppercase; /* Make text all uppercase */
    background-color: #002842; /* Dark blue color */
    border-color: #002842; /* Ensure border matches the background */
}
.projects-header {
 padding: 20px 0;
 background-color: #f0f0f0;
 text-align: center;
 }

.projects-header-text h1 {
 font-family: 'Didot-Italic', serif;
 font-style: italic;
 font-size: 2.5em;
 margin-bottom: 10px;
 }

.projects-header-text p {
 font-size: 1.2em;
 margin-top: 5px;
 }
.testimonial {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 60px;
    margin-top: 20px;
}

.testimonial-content {
    max-width: 50%; /* Set max-width to 50% */
    margin-left: auto;
    margin-right: auto; /* Center align the testimonial text */
    font-size: 1.4em; /* Set font size */
}

.testimonial-author {
 font-style: italic;
}

@media (max-width: 768px) {
    .hero-text h1 {
        font-size: 35px;
    }
    
    .hero-text p {
        font-size: 18px;
    }
    
    nav a {
        margin: 0 15px;
    }
}

.footer-container {
    background-color: #002842;
    color: white;
    padding: 40px;
    text-align: center;
    text-transform: uppercase; /* All content in all caps */
    font-size: 0.8em; /* Make font size 20% smaller */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align the top of both columns */
    margin-bottom: 20px;
}

.footer-column-left, .footer-column-right {
    flex: 1;
}

.footer-column-left {
    text-align: right;
    margin-right: 20px; /* Add spacing to the right of the left column */
}

.footer-column-right {
    text-align: left;
    margin-left: 20px; /* Add spacing to the left of the right column */
}

.footer-links, .footer-address {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-links li, .footer-address li {
    margin: 8px 0;
}

.footer-links a, .footer-address a {
    color: white;
    text-decoration: none;
}

.footer-bottom-text {
    text-align: center;
}

.footer-address li {
    margin: 4px 0; /* Adjust the margin for tighter vertical spacing */
    line-height: 1.2; /* Adjust the line height for tighter text spacing */
    padding: 0; /* Remove any padding */
}

.footer-address li:first-child {
    margin: 8px 0;
    line-height: normal; /* Maintain line height for the first item */
}

.footer-address li img {
    width: 24px; /* Adjust size as appropriate */
    height: 24px; /* Adjust size as appropriate */
    margin-right: 5px; /* Add some space between the icon and the text */
    margin-top: 10px;
}